{% extends "layout.html" %}
{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias para a crise</title>
{% endblock %}

{% block container %}
<header>
    <a href="/">
        <img src="/logo.png" alt="imagem da logo">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" class="button" onclick="onOff()">Nova ideia</a></li>
    </nav>
</header>
<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>
<main>
    <section id="ideas">
        {% include "all_ideas.html" %}
    </section>
</main>
<footer>
    Com ❤ <a href="https://rocketseat.com.br"  target="_blank">Rocketseat</a>
</footer>
{% endblock %}

{% include "modal.html" %}